*{margin: 0;
padding: 0;}
body {

	background: #011633;
	font-family: 'Gilroy-Regular', sans-serif;
}
.boton{

	border-radius: 30px;
	background-color: #0d6efd;
	margin-left: 30px;
}
.text-dow7 {
 
 font-family: 'Gilroy-Bold', sans-serif;
 color: #fff;

 
}

.titulo-1{

	color: #F16223;
}

.imagen-center {


display: block;
margin-left: auto;
margin-right: auto;
}


.social-icons{
 list-style-type:none ;
}

.social-icons ul li {
display: inline-block;

}
.social-icons ul li a {
	color: #0dcaf0;
	padding-right: 10px;
}

.boton-fijo{

	width: 140px;
}
.ancho_tarjeta {

	height:290px;
	align-items: center;
}

.card	{
	background-color: #3cd0df8f;
}

.accordion{
	background-color: #ffffff96;
}
.imagen_chica{

	height: 120px;
	width: 120px;
	margin-top: 10px;
}

.img-halfed {

	height: auto;
	width: 150px;

}

.botonera li {

	list-style: none;
	display: inline;
}

.btn-dow7 {

	background-color: #936800ff;
	color: white;
}

.btn-dow7:hover {

	background-color: #d3ae56;
}

#header img{

width: 150px;
}

#particles-js{
	position:fixed;
	width: 100%;
	height: 400px;
	z-index: -1;
}
#descripcion{

	color: #fff;
}

#WHY {

	margin-top: 80px;
}

#FEATURES {

	text-align: enter;
	margin-top: 80px;
}
#FEATURES div p, #FEATURES div h1{

	text-align: center;
	
}

#footer {
	margin-top: 40px;
	align-items: center;
	text-align: center;
}